font-family = "BlexMono Nerd Font"
background = #3b4252
foreground = #4c566a
background-opacity = 0.6
cursor-color = #8fbcbb
cursor-style = underline
window-decoration = none
focus-follows-mouse = true
shell-integration = fish
window-padding-balance = true
window-padding-x = 10,0
window-padding-y = 10,0
window-padding-color = extend
font-size=11
